.application.dialog.pf1-v2.create-consumable {
  .standard-form {
    .form-footer {
      > button {
        min-width: 8em; // Undo min width of 180px which doubles the dialog size
      }
    }
  }
}
