.pf1.actor.sheet {
  // Default sheets
  .hd-level {
    flex: 2 0 200px;
  }

  // Trap & Haunt don't have HD level in a header
  &.npc:is(.trap, .haunt) .hd-level {
    flex: 0;
  }

  // Shared layout
  .hd-level {
    gap: 3px;

    .flexrow,
    .flexcol {
      flex: 1;
    }

    .info-box-joined.level {
      flex: 2;
    }

    .info-box {
      &.experience {
        flex: 2;
        > .value {
          flex-flow: nowrap;

          > input {
            width: unset;
            flex: 2;
          }

          > span {
            flex: 1 fit-content;
            &.separator {
              flex: 0 fit-content;
            }
          }

          .reward {
            text-align: center;
          }
        }
      }
    }

    > .inputs {
      display: flex;
      flex-flow: row nowrap;
      gap: 1px;
      flex: 0;
    }

    .xpbar {
      flex: 0;
      width: 100%;
      height: 8px;
      background: var(--pf1-tan);
      border: 1px solid var(--color-border-dark-2);
      border-radius: 4px;

      span.bar {
        width: calc(var(--xp-bar-percent) * 1%);
        background: hsl(97, calc(var(--xp-bar-percent) * 1%), 50%);
        border: 1px solid #d0ffb2;
        border-radius: 2px;
        height: 6px;
        display: block;
      }
    }
  }

  // NPC Lite Sheet overrides
  &.npc.lite {
    .hd-level {
      flex: 0;

      .level {
        flex: 1;
      }
    }
  }
}
