.pf1-v2.application.trait-selector {
  max-height: 720px;

  .window-content > section {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    input[type="search"] {
      margin-bottom: 0.5rem;
    }

    .trait-list {
      flex: 1;
      list-style: none;
      margin: 0 0 0.5rem;
      padding: 0;
      overflow: auto;

      li.search-mismatch {
        display: none;
      }
    }

    .custom-tags {
      gap: 0.5em;

      > h3 {
        margin: 0;
      }

      .custom-tag-list {
        list-style: none;
        margin: 0;
        padding: 0;

        display: flex;
        flex-flow: row wrap;
        gap: 1px 3px;

        > .custom-tag {
          line-height: 1.5;
          font-size: var(--font-size-12);

          > a {
            display: inline-flex;
            align-items: center;
            gap: 0.3em;

            // Undo generic system styling
            text-decoration: none;

            > span {
              background-color: rgba(0, 0, 0, 0.05);
              border-radius: 5px;
              //padding: 0 5px;
            }

            &[data-action] {
              > span {
                text-decoration: underline;
              }
            }

            > i {
              opacity: 0.4;
            }
            &:hover {
              > i {
                opacity: 1;
              }
            }
          }

          &.pre-delete {
            > a {
              text-shadow: 0 0 5px red;
              > span {
                background-color: rgba(255, 0, 0, 0.3);
              }
              > i {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}
